<%= form_for(@users) do |f| %>
  <% if @users.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @users.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid">
    <div class="row">
      <div class="field col-md-12">
        <%= f.label :username %><br>
        <%= f.text_field :username, class: 'text-field-signup' %>
      </div>
    </div>
    <div class="row">
      <div class="field col-md-12">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'text-field-signup'  %>
      </div>
    </div>
    <div class="row">
      <div class="field col-md-12">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: 'text-field-signup'  %>
      </div>
    </div>
    <div class="row">
      <div class="field col-md-12">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, class: 'text-field-signup'  %>
      </div>
    </div>
    <div class="row">
      <div class="actions col-md-12">
        <%= f.submit 'Sign-Up', class: 'submit-btn' %>
      </div>
    </div>
  <% end %>
</div>
