<h2 class="row"><%= "#{@users.username.titleize}'s Profile" %></h2>
<section class="container-fluid">
  <div class="user-profile">
    <div class="user-profile-contents row">
      <p class="col-md-12"><%= mail_to @users.email %></p>
      <p class="col-md-12">Total Links: <%= @users.links.count %></p>
      <p class="col-md-12">Votes Cast: <%= @users.votes.count %></p>
      <p class="col-md-12">Comments Made: <%= @users.comments.count %></p>
    </div>
  </div>
</section>
<section class='container-fluid'>
  <h3 class="row">Links</h3>
    <div class="row">
      <% @links.each do |link| %>
        <%= render partial: 'links/link', locals: { links: link } %>
      <% end %>
    </div>
  <h4 class="row">Comments</h4>
  <div class="container">
    <% @comments.each do |comment| %>
      <%= render partial: 'links/comment', locals: { comments: comment } %>
    <% end %>
  </div>
</section>
