<h2 class="row"><%= "#{@users.username.titleize}'s Profile" %></h2>
<section class="container-fluid">
  <div class="user-profile">
    <div class="user-profile-contents">
      <p><%= mail_to @users.email %></p>
      <p>Total Links: <%= @users.links.count %></p>
      <p>Votes Cast: <%= @users.votes.count %></p>
      <p>Comments Made: <%= @users.comments.count %></p>
    </div>
  </div>
</section>
<section class='container-fluid'>
  <h3 class="row">Links</h3>
    <div class="row">
      <% @links.each do |link| %>
        <%= render partial: 'links/link', locals: { links: link } %>
      <% end %>
    </div>
  <h4>Comments</h4>
    <% @comments.each do |comment| %>
      <%= render partial: 'links/comment', locals: { comments: comment } %>
    <% end %>
</section>
