<h2><%= "#{@users.username.titleize}'s Profile" %></h2
<div><%= @users.email %></div>
<div>Total Links: <%= @users.links.count %></div>
<div>Total Votes Cast: <%= @users.votes.count %></div>
<div>Total Comments Made: <%= @users.comments.count %></div>
