<div class="row">
  <div class="col-md-12">
    <div class="link-show">
      <div>
        <%= link_to links.title.titleize, link_path(links.id) %>
      </div>
      <div><%= links.post %></div>
        --<%= link_to User.find(links.user_id).username.titleize, user_path(links.user_id) %>
      <div class="sub-link-info">
        <div class="links-votes">
          <% if Vote.find_by(link_id: links.id) != nil %>
            <%= Vote.find_by(link_id: links.id).upvote %> Up |
            <%= Vote.find_by(link_id: links.id).downvote %> Down
          <% else %>
            0 Up |
            0 Down
          <% end %>
        </div>
        <div class="edit-btn">
          <% if session[:user_id] == links.user_id %>
            <%= link_to 'EDIT', edit_link_path(links.id) %> |
            <%= link_to 'DELETE', delete_link_path(links.id), method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
