<h2 class="row"><%= "Edit your link, #{current_user.username.titleize}" %></h2>
<div class="container-fluid">
  <div class="link-area">
    <div class="row">
      <%= form_for @link do |f| %>
        <div class="field col-md-12">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'text-field' %>
        </div>
      </div>
      <div class="row">
        <div class="field col-md-12">
          <%= f.text_area :post, class: 'text-area' %>
        </div>
      </div>
      <div class="row">
        <div class="actions col-md-12">
          <%= f.submit "SAVE", class: 'submit-btn' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

