<h2>Create a new link, <%= @current_user.username.titleize %></h2>
<div class="link-area">
  <%= form_for @links do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'Whats up?', class: 'field-area'  %>
    </div>
    <div class="field">
      <%= f.text_area :post, cols: 80, rows: 6,
           placeholder: 'Please explain further', class: 'field-area' %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.select :board, @all_boards %>
    </div>
    <div class="actions">
      <%= f.submit 'POST' %>
    </div>
  <% end %>
</section>
