<h2> <%= @current_user.username.titleize %> - Create a new link</h2>
<%= form_for @links do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :post %>
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.select :board, Board.all.map { |x| [x.category, x.id] } %>
  </div>
  <div class="actions">
    <%= f.submit 'POST' %>
  </div>
<% end %>
