<div class="upvote-box">
  <%= button_to @votes[0].upvote, upvote_path(link_id: @links.id), class: 'upvote' %>
</div>
<div class="link-show">
  <%= render partial: 'link', locals: { links: @links } %>
</div>
<div class="downvote-box">
  <%= button_to @votes[0].downvote, downvote_path(link_id: @links.id), class: 'downvote' %>
</div>
<section>
  <div>
    <%= "Comments(#{@links.comments.count})" %>
    <% unless @links.comments.count == 0 %>
      <% @comments.each do |comment| %>
        <%= render partial: 'comment', locals: { comments: comment } %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_for @comment do |f| %>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 6, cols: 100 %>
        <%= f.hidden_field :link_id, value: @links.id %>
      </div>
      <div class="actions">
        <%= f.submit 'Comment' %>
      </div>
    <% end %>
  </div>
</section>
