<h3><%= @links.title.titleize %></h3>
<section>
  <div class="upvote-box"> UP
    <%= button_to @votes[0].upvote, upvote_path(link_id: @links.id) %>
  </div>
  <div>
    <%= render partial: 'link', locals: { links: @links } %>
  </div>
  <div class="downvote-box"> DOWN
    <%= button_to @votes[0].downvote, downvote_path(link_id: @links.id) %>
  </div>
  </section>
<section>
  <div>
    <h4><%= "Comments(#{@links.comments.count})" %></h4>
    <% unless @links.comments.count == 0 %>
      <% @comments.each do |comment| %>
        <%= render partial: 'comment', locals: { comments: comment } %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_for @comment do |f| %>
      <div class="field">
        <%= f.text_area :body, rows: 4, cols: 80, placeholder: 'Put your comment here, yo' %>
        <%= f.hidden_field :link_id, value: @links.id %>
      </div>
      <div class="actions">
        <%= f.submit 'Comment' %>
      </div>
    <% end %>
  </div>
</section>
