<h1 class="row">All Boards</h1>
<section class="container-fluid">
  <div class="board-index">
    <div class="row">
      <% @boards.each do |board| %>
        <div class="boards">
          <%= render partial: 'board', locals: { boards: board} %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="container-fluid">
  <div class="new-board">
    <div class="row">
      <%= form_for new_board_path do |f| %>
        <%= f.label :category, 'New Category' %>
        <%= f.text_field :category, placeholder: 'Extreme Programming', class: 'text-field' %>
        <%= f.submit 'Create', class: 'submit-btn' %>
      <% end %>
    </div>
  </div>
</section>
