<h1>All Boards</h1>
<h3>Sorted By Popularity</h3>
<section>
  <div class="board-index">
    <% @boards.each do |board| %>
      <div class="boards">
        <%= render partial: 'board', locals: { boards: board} %>
      </div>
    <% end %>
  </div>
</section>
<section>
  <div class="new-board">
    <%= form_for new_board_path do |f| %>
      <%= f.label :category, 'New Category' %>
      <%= f.text_field :category, placeholder: 'Extreme Programming' %>
      <%= f.submit 'Create' %>
    <% end %>
  </div>
</section>
